@page "/Campaign/Detail/{CampaignId}"
@using DUPSS.API.Models.DTOs
@using DUPSS.Web.Components.Service
@inject CampaignApiService CampaignApiService
@inject NavigationManager NavigationManager


@if (campaign == null)
{
    <p>Loading campaign details...</p>
}
else
{
    <div class="campaign-detail-container">
        <div class="campaign-hero-wrapper">
            <div class="campaign-hero-image" style="background-image: url('@campaign.ImageUrl');"></div>
            <div class="campaign-hero-title">
                <span class="title-letters">
                    @foreach (var c in campaign.Title)
                    {
                        if (c == ' ')
                        {
                            <span class="title-letter" style="width:0.4em;display:inline-block;">&nbsp;</span>
                        }
                        else
                        {
                            <span class="title-letter">@c</span>
                        }
                    }
                </span>
                <div class="campaign-hero-meta">
                    <div class="info-row">
                        <label>Status:</label>
                        <span>@campaign.Status</span>
                    </div>
                    <div class="info-row">
                        <label>Location:</label>
                        <span>@campaign.Location</span>
                    </div>
                    <div class="info-row">
                        <label>Phase</label>
                        <span>
                            @campaign.StartDate.ToString("dd/MM/yyyy")
                            –
                            @(campaign.EndDate?.ToString("dd/MM/yyyy") ?? "N/A")
                        </span>
                    </div>
                </div>
            </div>
        </div>
        @* <div class="info-row">
            <label>Status</label>
            <span>@campaign.Status</span>
        </div>
        <div class="info-row">
            <label>Phase</label>
            <span>
                @campaign.StartDate.ToString("dd/MM/yyyy")
                –
                @(campaign.EndDate?.ToString("dd/MM/yyyy") ?? "N/A")
            </span>
        </div> *@

        <div class="campaign-section">
            <h3>Introduction</h3>
            <div>@((MarkupString)campaign.Introduction.Replace("\n", "<br />"))</div>
        </div>





    </div>

    <Footer />
}

@code {
    [Parameter]
    public string CampaignId { get; set; } = string.Empty;

    private CampaignDTO? campaign;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            campaign = await CampaignApiService.GetByIdAsync(CampaignId);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading campaign detail: {ex.Message}");
        }
    }

    private void GoBack()
    {
        NavigationManager.NavigateTo("/Campaign");
    }
}
